
<div class="" role="group" style="display:inline-block">
    @foreach (TabPage tabPage in Pages)
    {
        <button class="tab @GetButtonClass(tabPage)"
                @onclick=@( () => ActivatePage(tabPage) )>
            @tabPage.Text
        </button>
    }
</div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>
@code {
    // Next line is needed so we are able to add <TabPage> components inside
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    public TabPage ActivePage { get; set; }
    List<TabPage> Pages = new List<TabPage>();
    internal void AddPage(TabPage tabPage)
    {
        Pages.Add(tabPage);
        if (Pages.Count == 1)
            ActivePage = tabPage;
        StateHasChanged();
    }
    string GetButtonClass(TabPage page)
    {
        if (page.Size == "small")
            return page == ActivePage ? "smallTab-active" : "smallTab-inactive";
        if (page.Size == "large")
            return page == ActivePage ? "largeTab-active" : "largeTab-inactive";
        return page == ActivePage ? "btn-primary" : "btn-secondary";
    }
    void ActivatePage(TabPage page)
    {
        ActivePage = page;
    }
}
