@page "/"
@inherits FlashCardComponentBase

<h1 class="text-center" style="margin-left: auto; margin-right: auto">Flash Cards</h1>

@if (!userAuth)
{
    <h2 class="text-center">Please Sign-in to Create FlashCard Decks</h2>

}
else if (userAuth && !isUserReady)
{
    <div>
        <div style="margin-left: auto; margin-right: auto; max-width: 45em">
            <MatList Style="font-size:1.4em" TwoLine="true">
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>
                            Create <strong>flashcard decks</strong> to help you study
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText>
                            Add and edit decks and cards in an open format for maximum flexibility
                        </MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>
                            Review your flashcards to <strong>test your knowledge</strong>
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText>
                            Your flashcards are shuffled with multiple choice answers generated for you
                        </MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
                <MatListItem>
                    <MatListItemText>
                        <MatListItemPrimaryText>
                            Use our scoreboard to <strong>track your progress</strong> over time.
                        </MatListItemPrimaryText>
                        <MatListItemSecondaryText>
                            We'll keep track of your right and wrong answers for each flashcard deck
                        </MatListItemSecondaryText>
                    </MatListItemText>
                </MatListItem>
               
            </MatList>
        </div>
        <div class="text-center" style="margin-left: auto; margin-right: auto">
            <button class="btn btn-primary" @onclick="@(() => isUserReady = !isUserReady)">
                Start studying!
            </button>
        </div>
    </div>
}
else
{

    <MatThemeProvider Theme="theme">
        <div class="text-center" style="margin-left:auto; margin-right:auto">
            <TabControl>
                <TabPage Text="Create and use flashcards to study" Size="large">
                    <UserPage />
                </TabPage>
                <TabPage Text="Edit your questions or answers" Size="large">
                    <EditDecks />
                </TabPage>
            </TabControl>
        </div>
    </MatThemeProvider>
}

@code {

    protected bool userAuth;
    protected bool isUserReady;
    public MatTheme theme = new MatTheme()
    {
        Primary = "blue",
        Secondary = MatThemeColors.Red._800.Value
    };

    protected override async Task OnInitializedAsync()
    {
        userAuth = DeckState.HasUser;
        if (userAuth)
        {
            UserDecks = await DeckState.GetUserDecks();
            await DeckState.UpdateUserDeckCards(UserDecks);
        }
    }

}
