@inject DeckStateService DeckState
@implements IDisposable

<ul class="list-group list-group-flush">
    <li style="background-color:lightgreen">Correct answers: @DeckStats.Correct</li>
    <li style="background-color:lightpink">Incorrect answers: @DeckStats.InCorrect</li>
    <li style="background-color:lightblue; font-size:1.2em">Percentage: @Percent</li>
</ul>
@code {
    protected DeckStats DeckStats { get; set; }
    protected string Percent
    {
        get
        {
            var toPercent = DeckStats.TotalPct;
            return toPercent.ToString("P1");
        }
    }
    protected override Task OnInitializedAsync()
    {
        DeckStats = DeckState.DeckStats;        
        DeckState.OnChange += StateHasChanged;
        return base.OnInitializedAsync();
    }
    public void Dispose() => DeckState.OnChange -= StateHasChanged;
}
